API_ID=30521437
API_HASH=9b01f57a7511278377202d843c9bfc34
OWNER_ID=8791884726
LOGGER_ID=-1003757375746
BOT_TOKEN=8473595531:AAEXzAvLlSrOPxHvByR2JrHHcDF1rS6jr7Q
STRING_SESSION=AQHRuF0Awc8XEhIL8S3ZIbcyAs2WM3PaBsidfsAnSOkzjyr1IZjq-3pUUzFTyBADAa2_dwUpd8VF3hEwPirI825M0SNaXzzLdzpYMVRMkZyJxWgg26tahXbJ2YTeeZsVXq2gYwomLevoajEN1izc8WHMT0uhS8kRAbkDtJ08wBKQV3X7mUrIW31C5E9PopmJYGPo6rsz5Mke2bgmUgqKZtl7n51T0CCpQ4xkxjLo--Cnq4GMdPWO0ThoT2895P7xzNGV8fZVd92gZsKEu-h9nJx6W2cUpYhOpPnh-UA5LIJVWTYDuiL1Q_V1_-l3lj5HHRoLNbLS3b0WX0sE3PvyitzSXjHn-wAAAAILN2rHAA
MONGO_DB_URI=mongodb+srv://lilyy67u_db_user:Nishkarsh123@grouphelp2.06f2yus.mongodb.net/?appName=Grouphelp2
COOKIE_URL=
DEEP_API=
API_KEY=wym8vakam2
API_URL=http://api.nubcoder.com
VIDEO_API_URL=http://api.nubcoder.com
